<div class="grid h-full p-0 col-12 m-0">
    <app-header (changeEmitter)="openNav()" (changeIconCloseEmitter)="closeNav()"></app-header>
    <nav id="mySidebar" class="p-0 shadow-1 pt-7 mt-0">
        <app-sidenav (dataEvent)="handleClick()"></app-sidenav>
    </nav>

    <div id="main" class="p-0 pt-7">
        <div class="col-12 flex">
            <div class="col-6 p-0" style="color: rgba(111, 111, 112, 1);">
                <i class="pi pi-home cursor-pointer font-normal text-sm p-1"></i>
                <span id="breadcrumb" class="cursor-pointer">{{breadcrumbItems}}</span>
            </div>
            <div class="col-6 p-0">
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>